body { 
    background-color: #010101;
    font-size: 18px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.start-img {
    grid-column: 2 / 12;
    grid-row: 2;
    width: 80%;
    height: 70vh;
    object-fit: contain;
}

.text {
    position: absolute;
    top: 43rem;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #3e3f3e;
    color: #fff;
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 20px;
    margin: 0 auto;
    z-index: 2;
}

.controls {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 10px;
    bottom: 14rem;
    left: 0;
    right: 0;
    pointer-events: auto; 
    z-index: 10; 
}

.ctrl-btn {
    position: relative;
    width: 150px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #3b4c3b38;
    /*background: transparent;*/
    border: none;
    outline: none;
    border-radius: .5rem;
    padding: 15px 25px;
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

.ctrl-btn svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #deded8;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: stroke-dashoffset 1s ease-in-out;
}

.ctrl-btn:hover svg {
    stroke-dashoffset: -480;
}

.ctrl-btn span {
    color: #fff;
    font-size: 18px;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.ctrl-btn:hover {
    background-color: #6e806e;
    transition: background 1s ease-in-out;
}



/* 350px Samsung Galaxy S8+ & phones */
@media (max-width: 591px) and (min-width: 350px) {
    body {
        font-size: 14px;
        margin: 0;
    }
    
    .start-img {
        grid-column: 1/-1;
        width: 100%;
        height: auto;
    }

    .p {
        display: block;
        grid-row: 1/2;
        grid-column: 2/22;
        top: 40%;
    }

    .text {
        top: 12%;
        width: 80%;
        line-height: 1.3rem;
        padding: 15px 10px;
    }

    .controls {
        position: absolute;
        bottom: 20%;
        width: 100%;
    }
    
    .ctrl-btn {
        width: 140px;
        height: 45px;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ctrl-btn span {
        font-size: 16px;
    }
}

/*tablets/iPads*/
@media (max-width:800px) and (min-width: 591px) {
    body {
        margin: 0;
    }

    .start-img {
        grid-column: 1/-1;
        width: 100%;
        height: auto;
    }

    .p {
        display: block;
        grid-row: 1/2;
        grid-column: 2/22;
        top: 40%;
    }

    .text {
        top: 12%;
        width: 80%;
        line-height: 1.3rem;
        padding: 15px 10px;
    }

    .controls{
        bottom: 7rem;
    }
}

/*small screens & laptops*/
@media (max-width:1280px) and (min-width: 801px) {
    .start-img {
        width: 100%;
        height: 60vh;
    }

    .p{
        display: block;
    }

    .text {
        top:43rem;
        width: 62%;
    }

    .controls {
        bottom:12rem;
        gap:20px;
    }

    .ctrl-btn {
        width:145px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ctrl-btn span {
        font-size: 16px;
    }
}

/*big screen home computer - bigger than school laptop*/
@media (max-width:1930px) and (min-width:1537px) {
    .start-img {
        width: 100%;
        height: 60vh;
    }
    
    .text {
        top:53rem;
        width: 40%;
    }

    .controls {
        bottom: 17rem;
    }

    .ctrl-btn {
        width:155px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}